@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../assets/logos/fonts/icomoon.eot?rfzeel");
  src: url("../assets/logos/fonts/icomoon.eot?rfzeel#iefix") format("embedded-opentype"), url("../assets/logos/fonts/icomoon.ttf?rfzeel") format("truetype"), url("../assets/logos/fonts/icomoon.woff?rfzeel") format("woff"), url("../assets/logos/fonts/icomoon.svg?rfzeel#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.wrapper {
  background: #eceff1;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header__icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
.header__icons .icon {
  font-size: 24px;
  font-weight: bold;
  color: #00bdff;
  margin: 0 15px;
  cursor: pointer;
}

header {
  padding: 20px;
}
header ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
header ul li {
  list-style: none;
  margin: 20px;
  padding: 10px;
}
header ul li a {
  color: #847c7ce6;
  text-decoration: none;
  font-weight: bold;
}
header ul li:hover {
  border-bottom: 2px solid #2bc48a;
}

.hero {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 30px;
}
.hero__title h1 {
  font-size: 30px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__buttons p {
  background: white;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 4px;
  z-index: 10;
}
.hero__button {
  outline: none;
  padding: 10px 40px;
  border-radius: 100px;
  margin: 20px;
  font-size: 20px;
  border: none;
  background: #2bc48a;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 -0.2em rgba(0, 0, 0, 0.2);
}
.hero__button__empleador {
  margin-right: -11px;
  background: #00bdff;
}
.hero__button__empleado {
  margin-left: -11px;
}
.hero__button:active {
  transform: scale(0.9);
}
.hero__login a {
  color: #737f87;
}
.hero__categories {
  height: 200px;
  background: #2bc48a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__categories__arrow:active {
  transform: scale(0.9);
}
.hero__categories__arrow {
  height: 100%;
  background: #2bc48a;
  width: 200px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  z-index: 10;
}
.hero__categories__arrow--left {
  position: absolute;
  top: 0;
  left: -8%;
  justify-content: flex-end;
  box-shadow: 7px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.hero__categories__arrow--right {
  position: absolute;
  top: 0;
  right: -8%;
  justify-content: flex-start;
  box-shadow: -7px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.hero__categories__arrow img {
  height: 50px;
  width: 50px;
}
.hero__categories__images {
  width: 1100px;
  display: flex;
  overflow: hidden;
  background-repeat: repeat-x;
}
.hero__categories__images a {
  margin: 10px;
}
.hero__categories__images a img {
  width: 80px;
  height: 80px;
}
.hero__categories__images a p {
  margin: 0;
  color: #206a4c;
  text-align: center;
  font-weight: bold;
}
.hero__categories__images a:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.hero__categories__images .elemento-first {
  transition: 1s;
  margin-left: 10px;
}
.hero__categories__images.active {
  animation-name: moveRight;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition: 2s;
}
.hero__categories__images.noactive {
  animation-name: moveLeft;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.introduction {
  background: white;
}
.introduction__title {
  margin: 46px auto;
  max-width: 462px;
  text-align: center;
}
.introduction__title h1 {
  font-size: 24px;
  font-weight: 400;
}
.introduction__container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.introduction__box {
  height: 350px;
  width: 300px;
  margin: 30px 40px;
  padding: 15px;
  background: white;
  border-top: 4px solid #206a4c;
  border-bottom: 4px solid #206a4c;
  border-radius: 18px;
  transition: 0.5s;
}
.introduction__box__text p {
  color: #242424;
}
.introduction__box img {
  width: 100%;
  height: 180px;
  border-radius: 20px;
}
.introduction__box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.2);
}