body{
    margin: 0 ;
    background: #ECEFF1;
    overflow-x: hidden;
    font-family: 'Karla', sans-serif;}

p{
    margin: 0;
}

header{
    width: 100%;
    margin: 0 auto;
    height: 60px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header__image{
    height: 90%;
    width: 80px;
    border: 1px solid red;
}

.header__image img{
    height: 100%;
    width: 100%;
}

nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
}

nav ul{
    list-style: none;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    margin: 0 8px;
}

.header__login{
    height: 100%;
    display: flex;
    border: 1px solid red;
    margin-left: 360px;
}

.header__login__container{
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.header__login__text{
}

.header__login__image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid peru;
}


.header__registered{
    align-items: center;
    display: inline-grid;
    text-align: center;
}





.header__registered__button{
    display: flex;
}

.hero__background{
    height: 550px;
    background: purple;
    position: absolute;
    top: 0;
    right: -41px;
    left: 0;
    transform: rotate(-3deg) translate(-20px, -68px);
}

.hero{
    position: relative;
}

.hero__title{
    width: 320px;
    margin: 0 auto;
}

.hero__images{
    width: 80%;
    height: 300px;
    border: 2px solid royalblue;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.hero__images__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__images img{
    height: 70px;
    width: 70px;
    margin: 0 10px;
}

.skill{
    width: 100px;
    height: 100px;
}

.skill img{
    width: 50px;
    height: 50px;
    padding: 5px;
}

.skill-first img{
    width: 30px;
    height: 30px;
}

.skill-last img{
    width: 30px;
    height: 30px;
}
